# this playbook destroy VM 
# this playbook create gcp vm 
- name: Create a single Instance
  hosts: localhost 
  vars: 
     machine_name: "first-gcp-vm"
     #google_project_id: "project-2196034a-008b-495b-b87"
     google_project_id: "marine-compass-482307-c9"
     service_account_path: "/home/kk/Documents/devops_related/devops_gen10/4.ansible-lesson/part2/credentials/serviceaccount.json"
     ssh_public_key_path: "/home/kk/.ssh/id_rsa.pub"
  tasks:
  - name: install Pip
    apt: 
      name: python3-pip
      state: present 
  - name: Ensure the package are installed
    pip:
      name:
        - requests
        - google-auth
  - name: Destory GCP instance
    google.cloud.gcp_compute_instance:
      name: "{{machine_name}}"
      machine_type: "e2-medium"
      zone: "us-central1-a"
      project: "{{google_project_id}}"
      auth_kind: "serviceaccount"
      service_account_file: "{{ service_account_path }}"
      state: absent
      disks:
        - auto_delete: true
          boot: true
          initialize_params:
            source_image: "projects/ubuntu-os-cloud/global/images/family/ubuntu-2204-lts"
            disk_size_gb: 15
            disk_type: "pd-standard"
      network_interfaces:
        - network:
            selfLink: "projects/{{google_project_id}}/global/networks/default"
          access_configs:
            - name: External NAT
              type: ONE_TO_ONE_NAT
      tags:
        items:
          - http-server
          - https-server
    register: gcp_instance
    when: true